{% load staticfiles %}
<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ settings.site_description }}">
    <title>{{ settings.site_title }}</title>

    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static "style.css" %}"/>
</head>
<body>

<div id="wrapper">
    <div id="sidebar-wrapper"
         style="padding-left:15px;color: #000;box-shadow: 10px 10px 5px #888888;background-color:#FFCC66;">
        {% block sidebar %}
            <div id="cats">
                {% include "_categories.html" %}
            </div>
        {% endblock %}
        <hr/>
        <h3 style="color: #000">Search</h3>

        <form action="/search.html" method="GET">
            <input type="text" name="keyword" id="keyword" placeholder="Search.."/>
        </form>
        <hr/>
        <h3 style="color: #000">Links</h3>
        <ul>
            <li><a style="font-size: 12px;color: #666" href="http://mirac.me">Mirac Personal Blog</a></li>
            <li><a style="font-size: 12px;color: #666" href="https://www.python.org">Python.org</a></li>
            <li><a style="font-size: 12px;color: #666" href="http://www.bilkent.edu.tr">Bilkent University</a></li>
        </ul>
        <hr/>
        <h3 style="color: #000">Facebook</h3>

        <div id="fb-root"></div>
        <div class="fb-like-box" data-href="https://www.facebook.com/mirac.me" data-width="100" data-colorscheme="light"
             data-show-faces="false" data-header="false" data-stream="false" data-show-border="true"></div>
    </div>
    <div id="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span id="logo" style="float: right">
                            <a href="{% url "index" %}"><img src="{% static "home.png" %}" width="32" height="32"
                                                             style="margin-top: 35px" alt=""/></a>
                        </span>

                        <h1><a href="{% url 'index' %}">{{ settings.site_title }}</a></h1>
                        <br>

                        <div class="posts">
                            {{ settings.site_description }}
                        </div>

                        <hr/>
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="page-content-wrapper"
         style="margin-left:-10px;background-color:#049cdb;color: #ffffff;padding:10px;box-shadow: 10px 10px 5px #888888;">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p id="footer-message">
                            {{ settings.footer_description }}
                        </p>
                 <span style="text-align: right">&copy; Proudly powered by <a class="footer_url"
                                                                              href="http://python.org" target="_blank">Python</a> &
            <a class="footer_url" href="https://www.djangoproject.com" target="_blank">Django</a></span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static "fb.js" %}"></script>
</body>
</html>